#Logocamt{
}
#column{
    float: left;
    padding: 10px;
}
#logo{
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    margin:auto;
}
#photopro{

    background: red; /* สี */

    
    border-radius: 300px;
}
#Profile{
    background-color:#3366FF;
    border: 1px solid black;
    float: left;
}
#bio{
    border: 1px solid black;
    margin-left: 30%;
    width: 50%;
}
#Preference{
    border: 1px solid black;
    margin-left: 30%;
    width: 50%;
}
#speciality{
    border: 1px solid black;
    margin-left: 30%;
    width: 50%;
}
#table1,td{
    border-collapse: collapse;
    width: auto;
    height: auto;
    background-color:#3366FF;
}
td{
    
    border: 1px solid black;
}

#profile{
    width: auto;
    height: auto;
    margin: auto;
}

#photo1{
    width: auto;
    height: auto;
    background-color:#7991C8;
}