table{
    width: 100%;
    table-layout: fixed;
}
img.imgblur{
    filter: blur(5px);
    border-radius: 15px;
}
img.imgradius{
    border-radius: 15px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
a{
    text-decoration: none;
}
a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: hotpink;
}
a:active{
    color: blue;
}
tr:nth-child(even){
    background-color: #f2f2f2;

}
body > table > tbody > tr:nth-child(2) > td:nth-child(3) > a > img{
    border-radius: 50%;
}
#Googlelogo{
 border: 2px solid blue;
 border-radius: 4px;
 padding: 10px;
 margin-left: 30px;
 margin-right: 20px;
}
[target="_blank"]{
    text-decoration: line-through;
}