table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
    table-layout: fixed;
}
img.round{
    border-radius: 8px;
}
img.blur{
    
    -webkit-filter: blur(6px);
    filter:blur(6px);
}
.synopsis{
    color: #7E8184;
    font-style: italic;
}

.button{
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    margin : 20px auto;
   
}
.button:active{
    cursor: wait;
}
.page{
    width:600px;
    margin:0 auto;
}
.square{
    
    border:5px solid white;
    table-layout: fixed;
    border-collapse: collapse;
    width: 20%;
    height: 40%;
}

.tablered{
    background-color: red;
    border:5px solid white;
}

.tablegreen{
    background-color: green;
    border:5px solid white;
    cursor: pointer;
}

.tablegray{
    background-color: gray;
    border:5px solid white;
}

